In [48]:
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect('data/db.sqlite')
c = conn.cursor()

# Create the sector_etfs table
c.execute('''
    CREATE TABLE sector_etfs (
        id INTEGER PRIMARY KEY,
        name TEXT NOT NULL,
        date TEXT NOT NULL,
        open REAL NOT NULL,
        high REAL NOT NULL,
        low REAL NOT NULL,
        close REAL NOT NULL,
        volume INTEGER NOT NULL
    )
''')

# Create the fed_funds_rate table
c.execute('''
    CREATE TABLE fed_funds_rate (
        id INTEGER PRIMARY KEY,
        date TEXT NOT NULL,
        rate REAL NOT NULL
    )
''')

# Create the unemployment_rate table
c.execute('''
    CREATE TABLE unemployment_rate (
        id INTEGER PRIMARY KEY,
        date TEXT NOT NULL,
        rate REAL NOT NULL
    )
''')

# Create the yield_curve table
c.execute('''
    CREATE TABLE yield_curve (
        id INTEGER PRIMARY KEY,
        date TEXT NOT NULL,
        rate REAL NOT NULL
    )
''')

# Commit the changes and close the connection
conn.commit()
conn.close()

In [49]:
import pandas as pd

csv_file_path = 'data/FEDFUNDS.csv'

fedfunds_data = pd.read_csv(csv_file_path)

fedfunds_data = fedfunds_data.rename(columns={"FEDFUNDS": "rate", "DATE": "date"})

In [50]:
from sqlalchemy import create_engine

# Create a connection to the SQLite database
engine = create_engine('sqlite:///data/db.sqlite')

# Save the fed_funds_rate DataFrame to the fed_funds_rate table in the SQLite database
fedfunds_data.to_sql('fed_funds_rate', con=engine, if_exists='append', index=False)

826

In [51]:
# Connect to the SQLite database
conn = sqlite3.connect('data/db.sqlite')
c = conn.cursor()

# Query the fed_funds_rate table to retrieve all the data
c.execute('SELECT * FROM fed_funds_rate')
data = c.fetchall()

# Convert the data into a DataFrame
fed_funds_db = pd.DataFrame(data, columns=['id', 'date', 'rate'])

# Compare the fed_funds_rate_df DataFrame to your original data
print(fed_funds_db.head())
print(fedfunds_data.head())


# Close the connection
conn.close()

   id        date  rate
0   1  1954-07-01  0.80
1   2  1954-08-01  1.22
2   3  1954-09-01  1.07
3   4  1954-10-01  0.85
4   5  1954-11-01  0.83
         date  rate
0  1954-07-01  0.80
1  1954-08-01  1.22
2  1954-09-01  1.07
3  1954-10-01  0.85
4  1954-11-01  0.83

In [52]:
import pandas as pd
from sqlalchemy import create_engine

csv_file_path = 'data/UNRATE.csv'

unrate_data = pd.read_csv(csv_file_path)

unrate_data = unrate_data.rename(columns={"UNRATE": "rate", "DATE": "date"})

# Create a connection to the SQLite database
engine = create_engine('sqlite:///data/db.sqlite')

# Save the fed_funds_rate DataFrame to the fed_funds_rate table in the SQLite database
unrate_data.to_sql('unemployment_rate', con=engine, if_exists='append', index=False)

# Connect to the SQLite database
conn = sqlite3.connect('data/db.sqlite')
c = conn.cursor()

# Query the fed_funds_rate table to retrieve all the data
c.execute('SELECT * FROM unemployment_rate')
data = c.fetchall()

# Convert the data into a DataFrame
unrate_db = pd.DataFrame(data, columns=['id', 'date', 'rate'])

# Compare the fed_funds_rate_df DataFrame to your original data
print(unrate_db.head())
print(unrate_data.head())


# Close the connection
conn.close()

   id        date  rate
0   1  1948-01-01   3.4
1   2  1948-02-01   3.8
2   3  1948-03-01   4.0
3   4  1948-04-01   3.9
4   5  1948-05-01   3.5
         date  rate
0  1948-01-01   3.4
1  1948-02-01   3.8
2  1948-03-01   4.0
3  1948-04-01   3.9
4  1948-05-01   3.5

In [53]:
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect('data/db.sqlite')
c = conn.cursor()

# Create the nrou table
c.execute('''
    CREATE TABLE nrou (
        id INTEGER PRIMARY KEY,
        date TEXT NOT NULL,
        value REAL NOT NULL
    )
''')

# Commit the changes and close the connection
conn.commit()
conn.close()

In [54]:
csv_file_path = 'data/NROU.csv'

nrou_data = pd.read_csv(csv_file_path)

nrou_data = nrou_data.rename(columns={"NROU": "value", "DATE": "date"})

In [55]:
# Save the NROU DataFrame to the NROU table in the SQLite database
nrou_data.to_sql('nrou', con=engine, if_exists='append', index=False)

340

In [56]:
# Connect to the SQLite database
conn = sqlite3.connect('data/db.sqlite')
c = conn.cursor()

# Query the nrou table to retrieve all the data
c.execute('SELECT * FROM nrou')
data = c.fetchall()

# Convert the data into a DataFrame
nrou_db = pd.DataFrame(data, columns=['id', 'date', 'rate'])

# Compare the nrou DataFrame to your original data
print(nrou_db.head())
print(nrou_data.head())


# Close the connection
conn.close()

   id        date      rate
0   1  1949-01-01  5.255053
1   2  1949-04-01  5.261516
2   3  1949-07-01  5.268013
3   4  1949-10-01  5.274564
4   5  1950-01-01  5.281182
         date     value
0  1949-01-01  5.255053
1  1949-04-01  5.261516
2  1949-07-01  5.268013
3  1949-10-01  5.274564
4  1950-01-01  5.281182

In [57]:
csv_file_path = 'data/T10Y3M.csv'

T10Y3M_data = pd.read_csv(csv_file_path)

T10Y3M_data = T10Y3M_data.rename(columns={"T10Y3M": "rate", "DATE": "date"})

In [58]:
T10Y3M_data.to_sql('yield_curve', con=engine, if_exists='append', index=False)

10796

In [59]:
# Connect to the SQLite database
conn = sqlite3.connect('data/db.sqlite')
c = conn.cursor()

# Query the yield_curve table to retrieve all the data
c.execute('SELECT * FROM yield_curve')
data = c.fetchall()

# Convert the data into a DataFrame
T10Y3M_db = pd.DataFrame(data, columns=['id', 'date', 'rate'])

# Compare the T10Y3M DataFrame to your original data
print(T10Y3M_db.head())
print(T10Y3M_data.head())


# Close the connection
conn.close()

   id        date  rate
0   1  1982-01-04  2.32
1   2  1982-01-05  2.24
2   3  1982-01-06  2.43
3   4  1982-01-07  2.46
4   5  1982-01-08   2.5
         date  rate
0  1982-01-04  2.32
1  1982-01-05  2.24
2  1982-01-06  2.43
3  1982-01-07  2.46
4  1982-01-08  2.50

In [60]:
import os

symbols_for_names = {
    'Consumer Discretionary Select Sector SPDR® Fund': 'XLY',
    'Consumer Staples Select Sector SPDR® Fund': 'XLP',
    'Energy Select Sector SPDR® Fund': 'XLE',
    'Financial Select Sector SPDR® Fund': 'XLF',
    'Health Care Select Sector SPDR® Fund': 'XLV',
    'Industrial Select Sector SPDR® Fund': 'XLI',
    'iShares Biotechnology ETF': 'IBB',
    'iShares U.S. Energy ETF': 'IYE',
    'iShares U.S. Home Construction ETF': 'ITB',
    'iShares U.S. Real Estate ETF': 'IYR',
    'Materials Select Sector SPDR® Fund': 'XLB',
    'SPDR® S&P Bank ETF': 'KBE',
    'SPDR® S&P Homebuilders ETF': 'XHB',
    'SPDR® S&P Metals and Mining ETF': 'XME',
    'SPDR® S&P Oil & Gas Exploration & Production ETF': 'XOP',
    'SPDR® S&P Regional Banking ETF': 'KRE',
    'SPDR® S&P Telecom ETF': 'XTL',
    'Technology Select Sector SPDR® Fund': 'XLK',
    'Utilities Select Sector SPDR® Fund': 'XLU',
    'VanEck Junior Gold Miners ETF': 'GDXJ',
    'VanEck Oil Services ETF': 'OIH',
    'VanEck Semiconductor ETF': 'SMH',
    'Vanguard Real Estate Index Fund ETF Shares': 'VNQ'
}

sector_etfs = "./data/sector_etfs/"

for filename in os.listdir(sector_etfs):
    if filename.endswith('.csv'):
        print(f"added file {filename} to the database")
        df = pd.read_csv(os.path.join(sector_etfs, filename))
        df.dropna()

        df.rename(columns={"Open": "open", "Close": "close", "High": "high", "Low": "low", "Volume": "volume", "Date": "date"})
        df["name"] = symbols_for_names[filename[:-22]]

        df.to_sql('sector_etfs', con=engine, if_exists='append', index=False)

added file Consumer Discretionary Select Sector SPDR® Fund_05_24_23-08_16_02.csv to the database
added file Consumer Staples Select Sector SPDR® Fund_05_24_23-08_21_02.csv to the database
added file Energy Select Sector SPDR® Fund_05_23_23-08_19_02.csv to the database
added file Financial Select Sector SPDR® Fund_05_23_23-08_19_02.csv to the database
added file Health Care Select Sector SPDR® Fund_05_24_23-08_30_02.csv to the database
added file Industrial Select Sector SPDR® Fund_05_24_23-08_19_02.csv to the database
added file iShares Biotechnology ETF_05_23_23-02_09_01.csv to the database
added file iShares U.S. Energy ETF_05_24_23-08_21_02.csv to the database
added file iShares U.S. Home Construction ETF_05_24_23-05_09_06.csv to the database
added file iShares U.S. Real Estate ETF_05_24_23-08_16_02.csv to the database
added file Materials Select Sector SPDR® Fund_05_24_23-08_22_02.csv to the database
added file SPDR® S&P Bank ETF_05_24_23-08_01_07.csv to the database
added file SPDR® S&P Homebuilders ETF_01_02_08-12_31_21.csv to the database
added file SPDR® S&P Metals and Mining ETF_05_24_23-08_01_07.csv to the database
added file SPDR® S&P Oil & Gas Exploration & Production ETF_05_24_23-08_01_07.csv to the database
added file SPDR® S&P Regional Banking ETF_05_24_23-08_01_07.csv to the database
added file SPDR® S&P Telecom ETF_06_25_21-12_31_13.csv to the database
added file Technology Select Sector SPDR® Fund_05_24_23-08_19_02.csv to the database
added file Utilities Select Sector SPDR® Fund_05_23_23-08_16_02.csv to the database
added file VanEck Junior Gold Miners ETF_05_24_23-11_11_09.csv to the database
added file VanEck Oil Services ETF_05_24_23-12_21_11.csv to the database
added file VanEck Semiconductor ETF_05_24_23-12_21_11.csv to the database
added file Vanguard Real Estate Index Fund ETF Shares_05_24_23-09_29_04.csv to the database