In [1]:
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect('data/db.sqlite')
c = conn.cursor()

# Create the sector_etfs table
c.execute('''
    CREATE TABLE sector_etfs (
        id INTEGER PRIMARY KEY,
        name TEXT NOT NULL,
        date TEXT NOT NULL,
        open REAL NOT NULL,
        high REAL NOT NULL,
        low REAL NOT NULL,
        close REAL NOT NULL,
        volume INTEGER NOT NULL
    )
''')

# Create the fed_funds_rate table
c.execute('''
    CREATE TABLE fed_funds_rate (
        id INTEGER PRIMARY KEY,
        date TEXT NOT NULL,
        rate REAL NOT NULL
    )
''')

# Create the unemployment_rate table
c.execute('''
    CREATE TABLE unemployment_rate (
        id INTEGER PRIMARY KEY,
        date TEXT NOT NULL,
        rate REAL NOT NULL
    )
''')

# Create the yield_curve table
c.execute('''
    CREATE TABLE yield_curve (
        id INTEGER PRIMARY KEY,
        date TEXT NOT NULL,
        rate REAL NOT NULL
    )
''')

# Commit the changes and close the connection
conn.commit()
conn.close()

In [7]:
import pandas as pd

csv_file_path = 'data/FEDFUNDS.csv'

fedfunds_data = pd.read_csv(csv_file_path)

fedfunds_data = fedfunds_data.rename(columns={"FEDFUNDS": "rate", "DATE": "date"})

In [8]:
from sqlalchemy import create_engine

# Create a connection to the SQLite database
engine = create_engine('sqlite:///data/db.sqlite')

# Save the fed_funds_rate DataFrame to the fed_funds_rate table in the SQLite database
fedfunds_data.to_sql('fed_funds_rate', con=engine, if_exists='append', index=False)

826

In [12]:
# Connect to the SQLite database
conn = sqlite3.connect('data/db.sqlite')
c = conn.cursor()

# Query the fed_funds_rate table to retrieve all the data
c.execute('SELECT * FROM fed_funds_rate')
data = c.fetchall()

# Convert the data into a DataFrame
fed_funds_db = pd.DataFrame(data, columns=['id', 'date', 'rate'])

# Compare the fed_funds_rate_df DataFrame to your original data
print(fed_funds_db.head())
print(fedfunds_data.head())


# Close the connection
conn.close()

   id        date  rate
0   1  1954-07-01  0.80
1   2  1954-08-01  1.22
2   3  1954-09-01  1.07
3   4  1954-10-01  0.85
4   5  1954-11-01  0.83
         date  rate
0  1954-07-01  0.80
1  1954-08-01  1.22
2  1954-09-01  1.07
3  1954-10-01  0.85
4  1954-11-01  0.83

In [13]:
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect('data/db.sqlite')
c = conn.cursor()

# Create the nrou table
c.execute('''
    CREATE TABLE nrou (
        id INTEGER PRIMARY KEY,
        date TEXT NOT NULL,
        value REAL NOT NULL
    )
''')

# Commit the changes and close the connection
conn.commit()
conn.close()

In [14]:
csv_file_path = 'data/NROU.csv'

nrou_data = pd.read_csv(csv_file_path)

nrou_data = nrou_data.rename(columns={"NROU": "value", "DATE": "date"})

In [15]:
# Save the NROU DataFrame to the NROU table in the SQLite database
nrou_data.to_sql('nrou', con=engine, if_exists='append', index=False)

340

In [16]:
# Connect to the SQLite database
conn = sqlite3.connect('data/db.sqlite')
c = conn.cursor()

# Query the nrou table to retrieve all the data
c.execute('SELECT * FROM nrou')
data = c.fetchall()

# Convert the data into a DataFrame
nrou_db = pd.DataFrame(data, columns=['id', 'date', 'rate'])

# Compare the nrou DataFrame to your original data
print(nrou_db.head())
print(nrou_data.head())


# Close the connection
conn.close()

   id        date      rate
0   1  1949-01-01  5.255053
1   2  1949-04-01  5.261516
2   3  1949-07-01  5.268013
3   4  1949-10-01  5.274564
4   5  1950-01-01  5.281182
         date     value
0  1949-01-01  5.255053
1  1949-04-01  5.261516
2  1949-07-01  5.268013
3  1949-10-01  5.274564
4  1950-01-01  5.281182

In [17]:
csv_file_path = 'data/T10Y3M.csv'

T10Y3M_data = pd.read_csv(csv_file_path)

T10Y3M_data = T10Y3M_data.rename(columns={"T10Y3M": "rate", "DATE": "date"})

In [18]:
T10Y3M_data.to_sql('yield_curve', con=engine, if_exists='append', index=False)

10796

In [19]:
# Connect to the SQLite database
conn = sqlite3.connect('data/db.sqlite')
c = conn.cursor()

# Query the yield_curve table to retrieve all the data
c.execute('SELECT * FROM yield_curve')
data = c.fetchall()

# Convert the data into a DataFrame
T10Y3M_db = pd.DataFrame(data, columns=['id', 'date', 'rate'])

# Compare the T10Y3M DataFrame to your original data
print(T10Y3M_db.head())
print(T10Y3M_data.head())


# Close the connection
conn.close()

   id        date  rate
0   1  1982-01-04  2.32
1   2  1982-01-05  2.24
2   3  1982-01-06  2.43
3   4  1982-01-07  2.46
4   5  1982-01-08   2.5
         date  rate
0  1982-01-04  2.32
1  1982-01-05  2.24
2  1982-01-06  2.43
3  1982-01-07  2.46
4  1982-01-08  2.50